<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'class_app/css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Gamer Class Dashboard</title>
  
</head>
<body>
    <div class = "container">
        <div class="jumbotron jumbotron-fluid">
            <img id = "logo" src="{% static 'class_app/images/LOGO.svg' %}" />
            <h1 class="display-4">Welcome {{ user.user_name }}!</h1>
            <p class="lead">Manage your games and Gamer Class!</p>
        </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                <a class="btn btn-outline-primary" href="/class_list">Class</a>
                </li>
                <li class="nav-item">
                <a class="btn btn-outline-primary" href="/hot">Hot</a>
                </li>
                <li class="nav-item">
                <a class="btn btn-outline-primary" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item">
                <a class="btn btn-outline-primary" href="/logout">Logout</a>
                </li>
            </ul>
    <hr>
        <div class = "row">
            <div class = "column">
                <div id = "twitch-box" class = 'row'>
                    {% for t in twitch_data.data %}
                    <div class = 'col'>
                    <p id="twitch_name">{{ t.name }}</p>
                    <img src="{{ t.box_art_url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class = "row">
            <div id = "myGames-box">
                <h4>*game list:</h4>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in games %}
                    <tr>
                    <td>{{ g.name }}</td>
                    <td>{{ g.desc }}</td>
                    <td>{{ g.created_by.user_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div id = "add_class">
            <form action="/process_new_class" id= "new-class" method="POST">
                <h4>*add your gamer class!</h4>

                {% csrf_token %}
                <div class="form-group">
                        <label for="exampleFormControlSelect1">game</label>
                        <select class="form-control" id="exampleFormControlSelect1" name='game'>
                        {% for g in games %}
                            <option value="{{ g.id }}">{{ g.name }}</option>
                        {% endfor %}
                    
                        </select>
                        </div>

                <label for="game_description">level</label>
                <input class="form-control" type="text" placeholder="enter number" name="level">

                <label for="game">income</label>
                <input class="form-control" type="text" placeholder="Enter income" name="income">

                <label for="game_description">style</label>
                <input class="form-control" type="text" placeholder="how often do you help other?" name="style">

                <label for="game_description">class</label>
                <input class="form-control" type="text" placeholder="Enter: Noob, Modest, Skilled as your class" name="gamer_class">

                <button type="submit" class="btn btn-secondary">go!</button>
            </form>
        </div>
        <div id = "add_game">
                <form action="/process_new_game" id= "new-game" method="POST">
                    <h4>*add a new game!</h4>
                    {% csrf_token %}
                    <label for="game_name">name</label>
                    <input class="form-control" type="text" placeholder="name of the game" name="name">

                    <label for="game_description">description</label>
                    <input class="form-control" type="text" placeholder="only 255 chars " name="desc">

                    <button type="submit" class="btn btn-secondary">go!</button>
                </form>
        </div>
    </div>
</body>
</html>