<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamer Class</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'class_app/css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Schedule Games</title>
</head>
<body>
  <div class = "container">
      <div class="jumbotron jumbotron-fluid">
          <img id = "logo" src="{% static 'class_app/images/LOGO.svg' %}" />
          <h1 class="display-4">Welcome {{ user.user_name }}!</h1>
          <p class="lead">Schedule games with other players from around the world!</p>
      </div>
      <ul class="nav justify-content-end">
          <li class="nav-item">
          <a class="btn btn-outline-primary" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
          <a class="btn btn-outline-primary" href="/class_list">Class</a>
          </li>
          <li class="nav-item">
          <a class="btn btn-outline-primary" href="/hot">Hot</a>
          </li>
          <li class="nav-item">
          <a class="btn btn-outline-primary" href="/logout">Logout</a>
          </li>
      </ul>
  <hr>
      <!-- <div class = 'user_list'>
        <ul>
          {% for u in other_users %}
          <a href='#'>{{ u.user_name }}</a>
          {% endfor %}
        </ul>
      </div>
  </div> -->
  <div class = "row">
      <div class = "column">
          <div id = "user_list" class = 'row'>
              {% for u in other_users %}
              <div class = 'col'>
              <a href='#' id="twitch_name">{{ u.user_name }}</a>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

</body>
</html>