.jumbotron {
    width: 100%;
    max-height: 300px;
    padding:25px;
}
#logo {
    width: 300px;
    padding: 25px;
    margin-top: 0px;
    float: top;
} 
#login-box {
    width: 50%;
    float: right;
    float: bottom;
}
#register-box {
    width: 50%;
    float: left;
} 
#add_game {
    width: 50%;
    float: right;
}
#add_class {
    width: 50%;
    float: left;
} 
.display-4 {
    float: right;
    font-size: 25px; 
}
#myGames-box {
    width: 100%;
}
.twitch_name {
    padding: 10px;
    margin-top: 5px;
}
.mr-3 {
    width: 300px;
}
#spacer{
    width: 702px;
    height: 20px;
    display: inline-block;
}
#indent{
    width: 40px;
    height: 100%;
    display: inline-block;
}
.indent {
    margin-left: 50px;
}
/* .container-hot {
    width: 970px;
    position: relative;
    margin: auto;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
body {
    max-width: 970px;
} *